@font-face {
    font-family: 'Noto Sans JP';
    src: url('./assets/NotoSansJP-SemiBold.ttf');
}

@font-face {
    font-family: 'Noto Sans Mono';
    src: url('./assets/NotoSansMono-Regular.ttf');
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background: #212121;
    /* font-family: 'IBM Plex Sans JP'; */
    font-family: 'Noto Sans JP';
    font-weight: normal;
}

/* ツールボックスカテゴリのスタイル */
.blocklyTreeRow {
    padding-bottom: 7px !important;
    /* border-left: none !important; */
}

/* ツールボックスの文字 */
.blocklyTreeLabel {
    font-family: 'Noto Sans JP';
    display: inline;
    font-size: 14px;
    max-width: 30px !important;
    word-wrap: break-word;
}

.blocklyFlyoutLabelText {
    font-size: 18px !important;
    x: 50 !important;
}

.blocklyTreeSeparator {
    border-bottom: solid #444 1px;
    margin: 10px;
}

/* ツールボックスの枠線を右側に表示  */
.blocklyToolboxDiv {
    border-left: solid 0.5px #333333 !important;
    border-right: solid 0.5px #333333 !important;
    scrollbar-width: 10px;
}

/* ツールボックスのスクロールバーのスタイル */
.blocklyToolboxDiv::-webkit-scrollbar {
    background-color: #252525;
    width: 8px !important;
}

.blocklyToolboxDiv::-webkit-scrollbar-thumb {
    background-color: #333333;
    border-radius: 12px;
}

/* 接続されてないブロックの色 */
.blocklyDisabled>.blocklyPath {
    /* opacity: 0.99; */
}

/* workspaceのborderを0にする */
.blocklyMainBackground {
    stroke: #333333;
    stroke-width: 2;
}

.blocklyContextMenu {
    background-color: #383838 !important;
}

.blocklyMenuItemContent {
    color: #E7E7E7;
}

.blocklyDisabled .blocklyEditableText text {
    fill: #e7e7e7 !important;
}

/* Change the hover background color */
.blocklyContextMenu .goog-menuitem-highlight,
.blocklyContextMenu .goog-menuitem-hover {
    background-color: #717171 !important;
}

/* Change the text color of disabled menu items */
.blocklyContextMenu .goog-menuitem-disabled .goog-menuitem-content {
    color: gray !important;
}
