@font-face {
    font-family: 'Noto Sans JP';
    src: url('./assets/NotoSansJP-SemiBold.ttf');
}

@font-face {
    font-family: 'Noto Sans Mono';
    src: url('./assets/NotoSansMono-Regular.ttf');
}

/*
    変数
*/
:root {
    --font-color: #e7e7e7;
    --bg-color-app: #212121;
    --secondary-bg-color: #434343;
    --border-color: #474747;
    --hover-color: #42424260;
    --selected-color: #70666640;
    --bg-menu: #383838;
    --bg-menu-hover: #717171;
    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-16: 16px;
}

/* リセット */

hr {
    height: 0;
    margin: 0;
    border: 0;
    border-bottom: 1px solid var(--border-color);
}


html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background: #212121;
    /* font-family: 'IBM Plex Sans JP'; */
    font-family: 'Noto Sans JP';
    font-weight: normal;
    font-size: var(--font-size-14) !important;
    color: var(--font-color)
}

.font-size-12 {
    font-size: var(--font-size-12) !important;
}

.font-size-13 {
    font-size: 13px !important;
}

.font-size-14 {
    font-size: var(--font-size-14) !important;
}

.font-size-16 {
    font-size: var(--font-size-16) !important;
}

.bg-menu {
    background: var(--bg-menu) !important;
}

.bg-menu-hover {
    background: var(--bg-menu-hover) !important;
}

.fit-content {
    width: fit-content !important;
}

.line-height {
    line-height: 1.215em !important;
}

.rounded {
    border-radius: 7px !important;
}

/*
    Quasar
*/

.override-button-icon-margin .q-icon.on-left {
    margin-right: 4px !important;
}

.q-tooltip--style {
    font-size: 12px;
}

.q-item {
    min-height: 35px;
    border-radius: 7px !important;
}

.q-menu--dark {
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, .3) !important;
}

.q-dark {
    background: var(--bg-menu) !important;
    box-shadow: none;
}

.q-tooltip--style {
    background: var(--border-color);
    border: solid 1px var(--border-color);
}

/*
    vue3-toastify
*/

.vue3-toastify-font-color-black {
    color: black !important;
}



/* 
    Blockly関係
*/

/* ツールボックスカテゴリのスタイル */
.blocklyTreeRow {
    height: 28px;
}

/* ツールボックスの文字 */
.blocklyTreeLabel {
    font-family: 'Noto Sans JP';
    display: inline;
    font-size: 14px;
    max-width: 30px !important;
    word-wrap: break-word;
}

.blocklyFlyoutLabelText {
    font-size: 18px !important;
    x: 50 !important;
}

.blocklyFlyout {
    border-left: solid 1px #525252;
    /* box-shadow: -10px 5px 10px #22222280; */
}

.blocklyTreeSeparator {
    border-bottom: solid #444 1px;
    margin: 10px;
}

/* ツールボックスの枠線を右側に表示  */
.blocklyToolboxDiv {
    border-left: solid 0.5px #444444 !important;
    border-right: solid 0.5px #444444 !important;
    scrollbar-width: 10px;
}

/* ツールボックスのスクロールバーのスタイル */
.blocklyToolboxDiv::-webkit-scrollbar {
    background-color: #252525;
    width: 8px !important;
}

.blocklyToolboxDiv::-webkit-scrollbar-thumb {
    background-color: #444444;
    border-radius: 12px;
}

/* ツールボックスのネストされたカテゴリーの開閉アイコン */
.blocklyTreeIconOpen {
    /* image-backgroundの色を反転 */
    filter: invert(100%);
    /* 位置調整 */
    margin: 3.5px 2px 0px 5px;
    /* アイコンを縮小 */
    transform: scale(0.8)
}

.blocklyTreeIconClosed {
    filter: invert(100%);
    margin: 3.5px 2px 0px 5px;
    transform: scale(0.8)
}

/* 接続されてないブロックの色 */
.blocklyDisabled>.blocklyPath {
    /* opacity: 0.99; */
}

/* workspaceのborderを0にする */
.blocklyMainBackground {
    stroke: #333333;
    stroke-width: 2;
}

/* コンテキストメニュー */
.blocklyContextMenu {
    background-color: var(--bg-menu) !important;
}

.blocklyMenuItemContent {
    color: #E7E7E7;
}

.blocklyWidgetDiv .blocklyMenu {
    padding: 0 !important;
}

.blocklyWidgetDiv .blocklyMenu {
    border: none !important;
}

.blocklyDisabled .blocklyEditableText text {
    fill: #e7e7e7 !important;
}

/* Change the hover background color */
.blocklyContextMenu .goog-menuitem-highlight,
.blocklyContextMenu .goog-menuitem-hover {
    background-color: var(--bg-menu-hover) !important;
}

/* Change the text color of disabled menu items */
.blocklyContextMenu .goog-menuitem-disabled .goog-menuitem-content {
    color: gray !important;
}

/* vue3-toastifyの通知の位置調整 */
.Toastify__toast {
    top: 22px !important;
}

.blocklyCommentTextarea {
    font-size: 18px;
    font-family: "Noto Sans JP";
}

.blocklyCommentIcon {
    width: 20px;
    height: 20px;
}

/*
    アニメーション
*/

.blinking {
    animation: blink 0.5s ease-in-out infinite alternate;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}